<head>
  <link rel="stylesheet" href="azedqs">
</head>

<body>
  <div>
    <div class="contact-title">
      <span class="strech-line"></span>
      <p>NOS ADRESSES</p>
      <p style="margin-left: 30px">NOS CONTACTS</p>
    </div>
    <div class="contact-cities">
      <p>PARIS:</p>
      <p>25 rue Saint-Didier</p>
      <p>75016 - Paris</p>
      <p>BORDEAUX:</p>
      <p>25 rue Saint-Didier</p>
      <p>75016 - Paris</p>
    </div>
    <div class="contact-details">
      <p>TEL:</p>
      <p>+33(0)7.68.62.63.16</p>
      <p>MAIL:</p>
      <p>contact@hemblem.com</p>
    </div>
  </div>

</body>
